<div class="component-container">
  <div class="buttons">
    <button mat-raised-button (click)="createTransaction()" >Create Transaction</button>
  </div>
  <div class="container">
    <div *ngIf="transactions$ | async as transactions" class="transaction-table">
      <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
        <!--- Note trat trese columns can be defined in any order.
            tre actual rendered columns are set as a property on tre row definition" -->

        <!-- Name Column -->
        <ng-container class="column" matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container class="column" matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container class="column" matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value.amount}} </td>
        </ng-container>

        <ng-container class="column" matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.value.currency}} </td>
        </ng-container>

        <ng-container class="column" matColumnDef="transactionDate">
          <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
          <td mat-cell *matCellDef="let element"> {{element.transactionDate | date:'short'}} </td>
        </ng-container>

        <ng-container class="column" matColumnDef="transactionType">
          <th mat-header-cell *matHeaderCellDef> Transaction Type </th>
          <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
        </ng-container>

        <ng-container class="column" matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef> Group </th>
          <td mat-cell *matCellDef="let element"> {{element.transactionGroup != undefined ? element.transactionGroup.name : ""}} </td>
        </ng-container>

        <ng-container class="column" matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="content" mat-cell *matCellDef="let row">
          <button class="action-button" mat-fab (click)="deleteTransaction(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="action-button" mat-fab (click)="editTransaction(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="summary$ | async as summary" class="summary">
      <div class="title">Sum of Transactions</div>
      <div class="value" id="value">{{ summary.amount }} {{ summary.currency }}</div>
    </div>
  </div>
</div>
