<div class="button-container">
  <button class="custom-button bounce-button" (click)="createTransaction()" >Create Transaction</button>
  <button class="custom-button bounce-button" (click)="getSummary()">Show Summary</button>
</div>
<div *ngIf="showSummary" class="summary default-font text-color-grey">
  <div class="title">Sum of Transactions</div>
  <div class="value" id="value">{{ summary?.amount }} {{ summary?.currency }}</div>
</div>

<hr />

<div class="filter-form-container">
  <h3 class="default-font text-color-grey">Filter Transactions</h3>
  <form [formGroup]="filterForm" class="search-container">
    <div class="form-group">
      <input
        type="text"
        placeholder="Search by name"
        formControlName="name"
        class="search-input"
      />

      <div class="input-with-icon">
        <input bsDatepicker formControlName="date" type="text" placeholder="Select a date" />
        <i class="fa fa-calendar"></i>
      </div>

      <mat-select class="select" formControlName="type">
        <mat-option *ngFor="let option of typeOptions" [value]="option.name">
          &#8226; {{ option.name }}
        </mat-option>
      </mat-select>
    </div>

    <div class="button-container">
      <button type="button" class="custom-button bounce-button" (click)="resetFilters()">
        Reset Filter
      </button>
    </div>
  </form>
</div>

<div class="table-container">
  <div *ngIf="filteredTransactions.length > 0; else noTransactions">
    <table mat-table [dataSource]="filteredTransactions" class="mat-elevation-z8">
      <ng-container class="column" matColumnDef="name">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef> Name </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container class="column" matColumnDef="description">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef> Description </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container class="column" matColumnDef="value">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef>
          <div class="sorting-header">
            <span class="default-font text-color-black">Value</span>
            <div class="sort-buttons">
              <button *ngIf="showValueAsc" mat-icon-button type="button" (click)="sortByValue('asc')">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button *ngIf="showValueDesc" mat-icon-button type="button" (click)="sortByValue('desc')">
                <mat-icon>arrow_downward</mat-icon>
              </button>
            </div>
          </div>
        </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element"> {{element.value.amount}} </td>
      </ng-container>

      <ng-container class="column" matColumnDef="currency">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef> Currency </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element"> {{element.value.currency}} </td>
      </ng-container>

      <ng-container class="column" matColumnDef="transactionDate">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef>
          <div class="sorting-header">
            <span class="default-font text-color-black">Transaction Date</span>
            <div class="sort-buttons">
              <button *ngIf="showDateAsc" mat-icon-button type="button" (click)="sortByDate('asc')">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button *ngIf="showDateDesc" mat-icon-button type="button" (click)="sortByDate('desc')">
                <mat-icon>arrow_downward</mat-icon>
              </button>
            </div>
          </div>
        </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element">
          {{ element.transactionDate | date:'yyyy/MM/dd' }}
        </td>
      </ng-container>

      <ng-container class="column" matColumnDef="transactionType">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef> Transaction Type </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
      </ng-container>

      <ng-container class="column" matColumnDef="group">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef> Group </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let element"> {{element.transactionGroup != undefined ? element.transactionGroup.name : ""}} </td>
      </ng-container>

      <ng-container class="column" matColumnDef="actions">
        <th class="default-font text-color-black" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="default-font text-color-black" mat-cell *matCellDef="let row">
          <div class="action-button-container">
            <button class="custom-small-button bounce-button" (click)="deleteTransaction(row)">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="custom-small-button bounce-button" (click)="editTransaction(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsFull"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsFull;"
        [ngClass]="{
          'income': row.transactionType === 'Income',
          'expense': row.transactionType === 'Expense'
        }"
      ></tr>
    </table>
  </div>
</div>

<ng-template #noTransactions>
  <div class="default-font no-transactions">
    No transactions found.
  </div>
</ng-template>
