<mat-toolbar>
    <!-- Logo Section -->
    <span class="title"><img class="image" src="../assets/icon.png" alt="icon" />{{ 'APPNAME' | translate }}</span>
  
    <!-- Navigation Links -->
    <div class="container">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">{{ 'MENU.HOME' | translate }}</button>
            <button mat-menu-item routerLink="/incometransactions">{{ 'MENU.INCOME_TRANSACTIONS' | translate }}</button>
            <button mat-menu-item>{{ 'MENU.INCOME_TRANSACTION_GROUPS' | translate }}</button>
            <button mat-menu-item>{{ 'MENU.EXPENSE_TRANSACTIONS' | translate }}</button>
            <button mat-menu-item>{{ 'MENU.EXPENSE_TRANSACTION_GROUPS' | translate }}</button>
            <button mat-menu-item>{{ 'MENU.INVESTMENTS' | translate }}</button>
            <button mat-menu-item>{{ 'MENU.SAVINGS' | translate }}</button>
        </mat-menu>
        <button mat-button (click)="login()"><mat-icon>login</mat-icon></button>
    </div>
</mat-toolbar>
  