mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-button {
    width: 200px; /* Set width if required */
  }

.image {
width: 2.5rem; /* Set the width of the image */
height: 2rem; /* Set the height of the image */
padding-right: 10px;
}

.title {
    display: flex;
}

.mat-toolbar {
    background-color: #CFF4FF;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
}
