<div class="form-container">
  <h3 class="default-font">Update Profile</h3>
  <form class="form-element" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <label class="default-font" for="currency">Currency</label>
    <div class="form-group">
      <mat-select class="select" formControlName="currency" required>
        <mat-option *ngFor="let option of currencyOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>
    <button class="bounce-button custom-button" type="submit">Update</button>
  </form>
</div>
